.brands {
  background-color: var(--black-color);
}

.brands__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 122px;
}

@media (width <= 768px) {
  .brands__list {
    min-height: 146px;
    gap: 20px;
    padding-block: 39px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.brands__btn {
    color: var(--white-color);
}

@media (any-hover: hover) {
.brands__btn:hover {
    color: var(--hover-color);
}
}

.brands__btn-icon {
    fill: currentColor;
}

@media (width <= 992px) {
  .brands__versace-icon {
    width: 117px;
    height: 24px;
  }

  .brands__zara-icon {
    width: 64px;
    height: 27px;
  }

  .brands__gucci-icon {
    width: 110px;
    height: 26px;
  }

  .brands__prada-icon {
    width: 127px;
    height: 21px;
  }

  .brands__kc-icon {
    width: 135px;
    height: 22px;
  }
}
