@media (width > 768px) {
  .hero {
    background: url(../../images/hero-bg.webp) 60% 10% / cover no-repeat;
  }
}

@media (width <= 768px) {
  .hero {
    background: url(../../images/hero-bg.webp) 125% 100% / auto 448px no-repeat;
  }
}

@media (width < 576px) {
  .hero {
    background: url(../../images/hero-bg.webp) 87% 100% / auto 448px no-repeat;
  }
}

.hero {
  background-color: var(--bg-color);
}

.hero__container {
  display: -ms-grid;
  display: grid;
}

@media (width > 768px) {
  .hero__container {
    -ms-grid-columns: 1fr 0.8fr;
    grid-template-columns: 1fr 0.8fr;
  }
}

@media (width <= 768px) {
  .hero__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto minmax(auto, 448px);
    grid-template-rows: auto minmax(auto, 448px);
  }
  .hero__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .hero__container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

.hero__title {
  font-family: var(--title-font-family);
  font-weight: 900;
  color: var(--black-color);
  text-transform: uppercase;
}

@media (width > 768px) {
  .hero__title {
    margin-top: 74px;
    max-width: 577px;
    font-size: 57px;
    line-height: 112%;
  }
}

@media (width <= 768px) {
  .hero__title {
    margin-top: 40px;
    max-width: 322px;
    font-size: 32px;
    line-height: 106%;
  }
}

@media (width > 768px) {
  .hero__text {
    margin-top: 34px;
    max-width: 551px;
  }
}

@media (width <= 768px) {
  .hero__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 157%;
    max-width: 358px;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 62px;
  margin-top: 32px;
  padding: 16px 54px;
  background-color: var(--black-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  -webkit-transition:
    background-color var(--transition-time),
    color var(--transition-time);
  -o-transition:
    background-color var(--transition-time),
    color var(--transition-time);
  transition:
    background-color var(--transition-time),
    color var(--transition-time);
}

@media (width <= 576px) {
  .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 358px;
  }
}

@media (any-hover: hover) {
  .hero__button:hover {
    background-color: var(--hover-color);
    color: var(--black-color);
  }
}

.hero__benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (width > 768px) {
  .hero__benefits-list {
    margin-top: 48px;
    margin-bottom: 116px;
  }
}

@media (width < 768px) {
  .hero__benefits-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
}

@media (width <= 576px) {
  .hero__benefits-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__benefits-item {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

@media (width > 768px) {
  .hero__benefits-item {
    padding: 0 32px;
  }
}

@media (width <= 768px) {
  .hero__benefits-item {
    padding: 0 28px;
  }
}

@media (width <= 576px) {
  .hero__benefits-item {
    /* width:320/576 */
    min-width: clamp(129px, 3.297rem + 23.83vw, 190px);
  }
}

.hero__benefits-item:first-child {
  border: none;
  padding-left: 0;
}

.hero__benefits-item:last-child {
  border: none;
  padding-right: 0;
}

@media (width <= 576px) {
  .hero__benefits-item:nth-child(2) {
    border-right: none;
    padding-right: 0;
  }
}

.hero__benefits-number {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--black-color);
}

@media (width > 768px) {
  .hero__benefits-number {
    font-size: 40px;
  }
}

@media (width <= 768px) {
  .hero__benefits-number {
    font-size: 24px;
  }
}

.hero__benefits-desc {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--transparent-color-text);
}

@media (width <= 768px) {
  .hero__benefits-desc {
    font-size: 16px;
    line-height: 138%;
  }
}

@media (width <= 768px) {
  .hero__benefits-desc {
    font-size: 12px;
    line-height: 183%;
  }
}

.hero__img-wrapper {
  position: relative;
}

.hero__big-star-dt {
  position: absolute;
  right: -1%;
  top: 8%;
}

.hero__small-star-dt {
  position: absolute;
  left: 3%;
  top: 30%;
}

@media (width > 768px) and (width <= 1079px), (width > 1780px) {
  .hero__big-star-dt {
    display: none;
  }
}

@media (width > 768px) and (width <= 1079px) {
  .hero__small-star-dt {
    display: none;
  }
}

@media (width <= 576px) {
  .hero__big-star-dt {
    width: 76px;
    height: 76px;
  }

  .hero__small-star-dt {
    width: 44px;
    height: 44px;
  }
}
