.new-arrivals__container {
  border-bottom: 1px solid var(--border-color);
}

@media (width > 768px) {
  .new-arrivals__container {
    padding-bottom: 64px;
  }
}

@media (width > 768px) {
  .new-arrivals__container {
    padding-bottom: 40px;
  }
}

@media (width > 768px) {
  .new-arrivals__title {
    margin-top: 72px;
  }
}

@media (width <= 768px) {
  .new-arrivals__title {
    margin-top: 52px;
  }
}

@media (width > 576px) {
  .new-arrivals__button {
    display: block;
    margin: auto;
    margin-top: 36px;
  }
}

@media (width <= 576px) {
  .new-arrivals__button {
    width: 100%;
    margin-top: 27px;
  }
}
