.styles__container {
  border-radius: 40px;
  background-color: var(--bg-color);
  /* width:576px/1200px */
  padding-inline: clamp(24px, -0.808rem + 6.41vw, 64px);
  padding-top: clamp(40px, 0.769rem + 4.81vw, 70px);
  padding-bottom: clamp(27px, -1.139rem + 7.85vw, 76px);
}

.styles__wrapper {
  display: -ms-grid;
  display: grid;
}

@media (width > 768px) {
  .styles__wrapper {
    margin-top: 64px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
      "one two two"
      "three three four";
    -ms-grid-rows: minmax(170px, auto);
    grid-template-rows: minmax(170px, auto);
    gap: 20px;
  }

  .styles__card:nth-child(1) {
    grid-area: one;
  }

  .styles__card:nth-child(2) {
    grid-area: two;
  }

  .styles__card:nth-child(3) {
    grid-area: three;
  }

  .styles__card:nth-child(4) {
    grid-area: four;
  }
}

@media (width > 768px) {
  .styles__card:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .styles__card:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
  .styles__card:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .styles__card:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}

@media (width <= 768px) {
  .styles__wrapper {
    margin-top: 28px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 170px;
    gap: 16px;
  }
}

.styles__card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.styles__title-card {
  position: absolute;
  top: 8%;
  left: 8%;
  z-index: 2;
}

.styles-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter var(--transition-time);
  transition: -webkit-filter var(--transition-time);
  -o-transition: filter var(--transition-time);
  transition: filter var(--transition-time);
  transition: filter var(--transition-time), -webkit-filter var(--transition-time);
}

@media (any-hover: hover) {
  .styles-card__img:hover {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

.styles-card__img:active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

@media (width <= 768px) {
  .styles-card__img {
    -o-object-position: 50% 0%;
       object-position: 50% 0%;
  }
}
